[package]
name = "markdown2html-converter"
version = "1.0.9"
authors = ["Magic Len <len@magiclen.org>"]
repository = "https://github.com/magiclen/markdown2html-converter"
homepage = "https://magiclen.org/markdown2html-converter"
keywords = ["markdown", "html", "MathJax", "LaTeX", "highlight"]
categories = ["command-line-utilities"]
description= "A tool for converting a Markdown file to a single HTML file with built-in CSS and JS."
readme = "README.md"
license = "MIT"

[badges.travis-ci]
repository = "magiclen/markdown2html-converter"
branch = "master"

[profile.release]
panic = "abort"

[dependencies]
clap = "2"
terminal_size = "0.1"
lazy-static-include = "2"
html-minifier = "1"
comrak = "0.5"
lazy_static = "1"
htmlescape = "0.3"