@font-face {
    font-family: 'CJK MONO';
    src: local("NotoSansMonoCJKTC-Regular"), local("SourceHanSansHWTC-Regular"), local("SourceHanSansHWTW-Regular"), local("NotoSansMonoCJKJP-Regular"), local("NotoSansMonoCJKKR-Regular"), local("NotoSansMonoCJKHK-Regular"), local("NotoSansMonoCJKSC-Regular"), url("https://cdn.jsdelivr.net/gh/magiclen/source-han-sans-hw-tc-woff2@2.004/SourceHanSansHWTC-Regular.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: 'CJK MONO';
    font-weight: bold;
    src: local("NotoSansMonoCJKTC-Bold"), local("SourceHanSansHWTC-Bold"), local("SourceHanSansHWTW-Bold"), local("NotoSansMonoCJKJP-Bold"), local("NotoSansMonoCJKKR-Bold"), local("NotoSansMonoCJKHK-Bold"), local("NotoSansMonoCJKSC-Bold"), url($font_url + "SourceHanSansHWTC-Bold.woff2") format("woff2");
    font-display: swap
}