@font-face {
    font-family: 'CJK';
    src: local("NotoSansCJKTC-Regular"), local("SourceHanSansTC-Regular"), local("SourceHanSansTW-Regular"), local("NotoSansCJKJP-Regular"), local("NotoSansCJKKR-Regular"), local("NotoSansCJKHK-Regular"), local("NotoSansCJKSC-Regular"), url("https://cdn.jsdelivr.net/gh/magiclen/source-han-sans-tc-woff2@2.004/SourceHanSansTC-Regular.woff2") format("woff2");
    font-display: swap
}

@font-face {
    font-family: 'CJK';
    font-weight: bold;
    src: local("NotoSansCJKTC-Bold"), local("SourceHanSansTC-Bold"), local("SourceHanSansTW-Bold"), local("NotoSansCJKJP-Bold"), local("NotoSansCJKKR-Bold"), local("NotoSansCJKHK-Bold"), local("NotoSansCJKSC-Bold"), url("https://cdn.jsdelivr.net/gh/magiclen/source-han-sans-tc-woff2@2.004/SourceHanSansTC-Bold.woff2") format("woff2");
    font-display: swap
}